In [3]:
import pymongo
from splinter import Browser
from bs4 import BeautifulSoup
import os
from datetime import datetime
import pymongo
import platform

In [21]:
def init_browser():
        executable_path = {
            'executable_path': '/Users/zhongyuliu/Downloads/chromedriver'}
        return Browser('chrome', **executable_path, headless=False)
def get_html(browser, url):
    browser.visit(url)
    html = browser.html
    return html
def get_sections(html):
    soup = BeautifulSoup(html, "html.parser")
    sections = soup.find(
        'section', class_='section_main')
    return sections
def scrape_titles(sections):
    titles = sections.find_all('a',class_='title')
    title_list = []
    for title in titles:
        title = title.text.strip()
        title_list.append(title)
    return title_list
def scrape_prices(sections):
    prices = sections.find_all('a',class_='price')
    price_list = []
    for price in prices:
        price = price.text.strip()
        price_list.append(price)
    return price_list
def access_db(dbname, collectionname):
    conn = 'mongodb://localhost:27017'
    client = pymongo.MongoClient(conn)
    db = client[dbname]
    collection = db[collectionname]
    return db, collection
def insert(collection,sections):
    db, collection = access_db('swappa', carrier)
    title_list=scrape_titles(sections)
    price_list=scrape_prices(sections)
    dictionary = dict(zip(title_list,price_list))
    collection.insert_one(dictionary)
def main():
    db, collection = access_db('swappa', carrier)
    browser = init_browser()
    url = base_url + carrier + '/phones'
    html = get_html(browser,url)
    sections = get_sections(html)
    scrape_titles(sections)
    scrape_prices(sections)
    insert(carrier,sections)
    return

In [34]:
base_url = 'https://swappa.com/mobile/'
carrier = 'sprint'
main()

In [35]:
base_url = 'https://swappa.com/mobile/'
carrier = 'att'
main()

In [ ]:
base_url = 'https://swappa.com/mobile/'
carrier = 't-mobile'
main()

In [ ]:
base_url = 'https://swappa.com/mobile/'
carrier = 'verizon'
main()

In [ ]:
base_url = 'https://swappa.com/mobile/'
carrier = 'unlocked'
main()

In [4]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)
db = client.swappa
collection = db.info

In [9]:
results = db.unlocked.find()
for result in results:
    print(result)

{'_id': ObjectId('5dae4af78ca2b7e62e54d8db'), 'Apple iPhone 7': '$169+', 'Apple iPhone 6S': '$114+', 'Apple iPhone Xs Max': '$640+', 'Apple iPhone SE': '$70+', 'Apple iPhone X': '$425+', 'Apple iPhone 7 Plus': '$259+', 'Apple iPhone 8': '$294+', 'Apple iPhone 8 Plus': '$355+', 'Apple iPhone 6S Plus': '$159+', 'Apple iPhone Xs': '$515+', 'Apple iPhone 6': '$88+', 'Samsung Galaxy S6': '$79+', 'Apple iPhone Xr': '$460+', 'Samsung Galaxy S10 Plus': '$525+', 'Samsung Galaxy Note 9': '$376+', 'Apple iPhone 5C': '$35+', 'Samsung Galaxy S8': '$166+', 'Apple iPhone 6 Plus': '$142+', 'Google Pixel 2': '$180+', 'LG G7 ThinQ': '$162+', 'Google Pixel 2 XL': '$160+', 'Google Pixel 3': '$279+', 'Moto X4': '$105+', 'Samsung Galaxy Note 10 Plus': '$775+', 'OnePlus 5T': '$170+', 'Samsung Galaxy S10e': '$404+', 'Samsung Galaxy S7': '$92+', 'Google Pixel 3 XL': '$345+', 'Google Pixel 3a XL': '$305+', 'Samsung Galaxy Note 8': '$238+', 'Moto G6': '$90+', 'OnePlus 5': '$128+', 'Nexus 6': '$60+', 'Samsung Galaxy S10': '$449+', 'Samsung Galaxy S7 Edge': '$122+', 'Moto G7 Play': '$104+', 'Google Pixel 3a': '$284+', 'Google Pixel XL': '$89+', 'LG G6': '$90+', 'Samsung Galaxy S9': '$235+', 'Samsung Galaxy S9 Plus': '$264+', 'Google Nexus 5': '$45+', 'Huawei P20 Pro': '$288+', 'Samsung Galaxy Note 10': '$650+', 'Moto G7': '$170+', 'Blu Vivo One Plus': '$80+', 'Essential PH-1': '$145+', 'OnePlus 6': '$270+', 'OnePlus 6T': '$295+', 'Samsung Galaxy S8 Plus': '$207+', 'Apple iPhone 11 Pro Max': '$1235+', 'Blackberry Key2 LE': '$275+', 'Google Pixel': '$89+', 'Huawei Mate 20 Pro': '$395+', 'Moto G7 Power': '$169+', 'Huawei Mate SE': '$85+', 'Moto Z3 Play': '$170+', 'Nexus 6P': '$80+', 'Samsung Galaxy Note 5': '$182+', 'HTC U11': '$175+'}

In [16]:
db.unlocked.find_one()

{'_id': ObjectId('5dae4af78ca2b7e62e54d8db'),
 'Apple iPhone 7': '$169+',
 'Apple iPhone 6S': '$114+',
 'Apple iPhone Xs Max': '$640+',
 'Apple iPhone SE': '$70+',
 'Apple iPhone X': '$425+',
 'Apple iPhone 7 Plus': '$259+',
 'Apple iPhone 8': '$294+',
 'Apple iPhone 8 Plus': '$355+',
 'Apple iPhone 6S Plus': '$159+',
 'Apple iPhone Xs': '$515+',
 'Apple iPhone 6': '$88+',
 'Samsung Galaxy S6': '$79+',
 'Apple iPhone Xr': '$460+',
 'Samsung Galaxy S10 Plus': '$525+',
 'Samsung Galaxy Note 9': '$376+',
 'Apple iPhone 5C': '$35+',
 'Samsung Galaxy S8': '$166+',
 'Apple iPhone 6 Plus': '$142+',
 'Google Pixel 2': '$180+',
 'LG G7 ThinQ': '$162+',
 'Google Pixel 2 XL': '$160+',
 'Google Pixel 3': '$279+',
 'Moto X4': '$105+',
 'Samsung Galaxy Note 10 Plus': '$775+',
 'OnePlus 5T': '$170+',
 'Samsung Galaxy S10e': '$404+',
 'Samsung Galaxy S7': '$92+',
 'Google Pixel 3 XL': '$345+',
 'Google Pixel 3a XL': '$305+',
 'Samsung Galaxy Note 8': '$238+',
 'Moto G6': '$90+',
 'OnePlus 5': '$128+',
 'Nexus 6': '$60+',
 'Samsung Galaxy S10': '$449+',
 'Samsung Galaxy S7 Edge': '$122+',
 'Moto G7 Play': '$104+',
 'Google Pixel 3a': '$284+',
 'Google Pixel XL': '$89+',
 'LG G6': '$90+',
 'Samsung Galaxy S9': '$235+',
 'Samsung Galaxy S9 Plus': '$264+',
 'Google Nexus 5': '$45+',
 'Huawei P20 Pro': '$288+',
 'Samsung Galaxy Note 10': '$650+',
 'Moto G7': '$170+',
 'Blu Vivo One Plus': '$80+',
 'Essential PH-1': '$145+',
 'OnePlus 6': '$270+',
 'OnePlus 6T': '$295+',
 'Samsung Galaxy S8 Plus': '$207+',
 'Apple iPhone 11 Pro Max': '$1235+',
 'Blackberry Key2 LE': '$275+',
 'Google Pixel': '$89+',
 'Huawei Mate 20 Pro': '$395+',
 'Moto G7 Power': '$169+',
 'Huawei Mate SE': '$85+',
 'Moto Z3 Play': '$170+',
 'Nexus 6P': '$80+',
 'Samsung Galaxy Note 5': '$182+',
 'HTC U11': '$175+'}

In [18]:
df_t = pd.DataFrame([db.unlocked.find_one()]).transpose().reset_index()
df_t.columns = ['Phone', 'Price']

In [19]:
df_t.head()

                     Phone   Price
0  Apple iPhone 11 Pro Max  $1235+
1          Apple iPhone 5C    $35+
2           Apple iPhone 6    $88+
3      Apple iPhone 6 Plus   $142+
4          Apple iPhone 6S   $114+